/* @link https://utopia.fyi/type/calculator?c=320,10,1.067,1000,16,1.125,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */



body {
    
    margin: 0;
    padding: 0;
}
header {
    max-width: 100%;
}

main {
    background-color: #1f2446;
    /*position: relative;
    display: flex;*/
    flex-direction: row;
    gap: 30px;
}

.contact-hamburger-menu {
    display: inline-block;
    max-width: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3rem;
}


.contact-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #eb6855;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.contact-h3 {
    color: #eb6855;
}


.contact-p {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}


#contact-btn {
   padding: 8px 50px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #eb6855;
}

.contact-col-2 li {
   margin: 1rem;
   list-style-type: none;

}

input {
    padding: 10px;
}

#contact-btn {
    border: 1px #eb6855 solid;
    box-shadow: 2px 2px 4px #eb6855;
}


#contact-btn:hover,
#contact-btn:focus {
    color: #f1b5ab;
    border-style: dashed;
}


/* ////////////////////////////////////////////////// 
@media (min-width: 800px) {
    

   /*input {
        height: 1.8rem;
    }


   .contact-col-2 {
       display: flex;
       flex-direction: row;
       gap: 1.5rem;
       align-items: baseline;
     
   }
   .contact-col-2a {
       align-self: baseline;
   }
      .contact-col-4 {
          align-self: baseline;
          margin-top: 3.125rem;
        
       }
 }

 @media (max-width: 799px) {
    input {
        margin: .7rem 0;
    }

 }*/


